{% extends "base.html" %}

{% load i18n %}

{% block title %}Erreur 404 – Murder Party France{% endblock %}
{% block description %}Vous naviguez sur une mauvaise page{% endblock %}

{% block og_title %}Erreur 404{% endblock %}
{% block og_description %}Vous naviguez sur une mauvaise page{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h1>Erreur 404</h1>
      <p class="lead">Vous naviguez sur la mauvaise page</p>
    </div>
  </div>

{% endblock %}
