{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Comment nous contacter ?</h1>
        <p>Murder Party France est un site géré par la société <a href="https://just-escape.fr">Just Escape</a>.</p>
        <p>Vous pouvez nous écrire par mail à contact@justescape.fr.</p>
        <p>Vous pouvez nous appeler au 07 89 05 37 90 du lundi au dimanche de préférence entre 10h et 17h.</p>
    </div>
</div>

{% endblock %}
