<footer>
  <div class="jumbotron deepdark" style="padding-bottom: 80px;">
    <div class="container">
      <div class="row justify-content-left justify-content-sm-center pl-3">
        <div class="col-12 col-md-4 mb-3">
          <div class="text-inter text-jaffa font-weight-bold">Liste Murder Party</div>
          <div class="size-09 mb-3">Liste Murder Party est un site qui a pour vocation de lister les Murder Party en France. Notre but est de vous aider à organiser votre Murder Party et améliorer votre expérience. Découvrez tout ce qu'il faut savoir sur cette activité originale.</div>

          <div class="d-flex flex-row">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="text-inter font-weight-bold">Team Building</div>
          <ul class="ul-no-style pl-0">
            <li><a ref='/team-building'>Teambuilding</a></li>
            <li><a ref='/team-building#devis'>Devis</a></li>
            <li><a ref='/team-building'>Séminaire</a></li>
            <li><a ref='/team-building'>Journée d'étude</a></li>
            <li><a ref='/team-building'>Afterwork</a></li>
            <li><a ref='/blog/salle-reunion-escape-game'>Murder Party Salle de réunion</a></li>
          </ul>

          <div class="text-inter font-weight-bold">Entre amis</div>
          <ul class="ul-no-style pl-0">
            <li><a ref="/blog/murder-party-evjf">EVJF</a></li>
            <li><a ref="/blog/murder-party-evg">EVG</a></li>
            <li><a ref="/blog/murder-party-famille">Famille</a></li>
            <li><a ref="/blog/murder-party-enfant">Enfant</a></li>
            <li><a ref="/blog/murder-party-anniversaire">Anniversaire</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="text-inter font-weight-bold">Découvrir</div>
          <ul class="ul-no-style pl-0">
            <li><a href="/qu-est-ce-qu-une-murder-party">Qu'est-ce qu'une murder party ?</a></li>
            <li><a ref="/comment-referencer-ma-murder-party">Comment référencer ma murder party ?</a></li>
            <li><a ref="/faq">FAQ</a></li>
            <li><a ref="/contact">Contact</a></li>
            <li><a ref="/tarifs">Pricing</a></li>
            <li><a href="/murder-party-blog">Murder Party Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
