{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Trouvez la meilleure murder party en France</h1>
        <p>Qui vous convienne</p>

        <!--<form class="d-flex">
            <input class="form-control" type="text" placeholder="Ville, Région, Thème, Scénario..." aria-label="search">
            <button class="btn btn-primary ms-2" type="submit">Rechercher</button>
        </form>-->

        <h2>Rechercher par ville</h2>
        <ol class="list-unstyled d-flex">
            {% for city in cities %}
            <li class="me-3">
                <a href="/murder-party-ville/{{ city.slug }}" class="btn btn-info">{{ city.name }}</a>
            </li>
            {% endfor %}
            <!--<li>
                <a href="/murder-party-villes-france" class="btn btn-success">Toutes les villes</a>
            </li>-->
        </ol>
    </div>
</div>

<div class="jumbotron light py-5">
    <div class="container">
        <h2>Pourquoi organiser une murder party ?</h2>
        <div class="row flex-column flex-lg-row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>En Team Building</h3>
                    </div>
                    <div class="card-body">Le problème avec les autres activités de team building, c'est que vos collaborateurs les ont déjà faites. Rapprochez vos collègues avec un loisir d'intérieur unique. Tout le monde participe à la même activité en même temps. Rebattez les cartes de la hiérarchie le temps d'une soirée ou d'un cocktail dinatoire.</div>
                    <div class="card-footer">
                        <a href="/murder-party-team-building" class="text-dark text-decoration-underline">Comment organiser une Murder Party pour un team building ?</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Entre amis ou en famille</h3>
                    </div>
                    <div class="card-body">Tous les interrogés déclarent qu'ils auraient été d'héroïques résistants. La vérité c'est que vous ignorez tout de vos proches tant que vous vous contentez de faire des films. Plongez-les au coeur d'un scénario. Ajoutez un soupçon de stress. Confrontez-les à leurs mensonges. Et découvrez le meilleur... comme le pire !</div>
                    <div class="card-footer">
                        <a href="/murder-party-amis-famille" class="text-dark text-decoration-underline">Comment organiser une murder party entre amis ou en famille ?</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Organiser soi-même ?</h3>
                    </div>
                    <div class="card-body">Vous avez des besoins précis et 50 heures devant vous ? Un problème de budget ? Alors organisez votre propre Murder Party. Attention : c'est une autre paire de manches que d'y jouer. Vos proches n'auront aucune reconnaissance pour votre travail. Mais si vous avez la niaque, réussir sa Murder Party à la maison est très satisfaisant.</div>
                    <div class="card-footer">
                        <a href="/comment-organiser-une-murder-party" class="text-dark text-decoration-underline">Comment organiser une murder party soi-même ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron dark py-5">
    <div class="container">
        <h2>Qu'est-ce qu'une murder party ?</h2>
        <div class="row flex-column flex-lg-row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Cluedo grandeur nature</h3>
                    </div>
                    <div class="card-body">Une Murder Party est une nouvelle activité à la mode dans lequel vous incarnez les personnages de l'histoire. Chaque joueur reçoit une fiche de rôle et des costumes léger pour l'immersion. À vous de résoudre une enquête palpitante.</div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Le même groupe pour tous</h3>
                    </div>
                    <div class="card-body">La Murder Party est un des rares loisir d'intérieur dans lequel un grand groupe n'est pas séparé en petits groupes. Vous restez ensemble du début à la fin. Des acteurs vous accompagnent pour vous débloquer.</div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                      <h3>Faites monter l'adrénaline</h3>
                    </div>
                    <div class="card-body">Réfléchissez avant de parler. Votre sourire a failli de griller votre couverture. Mais le plus amusant, c'est que le shérif rougit comme une tomate. Son rival doit le déstabiliser, quelque part au beau milieu de cette soirée de gala.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/qu-est-ce-qu-une-murder-party" class="text-dark text-decoration-underline">En savoir plus sur les murder party</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
