{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1 class="mb-5">Comment organiser une Murder Party soi-même ?</h1>

        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="mb-5">
                    <div class="w-100 text-center rounded-pill text-bg-info mb-2">Obtenez une copie gratuite</div>
                    <h2>Comment organiser sa propre Murder Party ?</h2>
                    <p class="lead">Les 8 étapes point par point pour réussir l'événement</p>
                    <p>Nos animateurs ont écrit une dizaine de Murder Party différentes et organisé plusieurs centaines d'événements pour les entreprises et les particuliers. Ce guide gratuit contient leur retour d'expérience pour vous aider à écrire et organiser la votre.</p>
                    <p class="mb-1">Vous allez découvrir :</p>
                    <ul>
                        <li>Le véritable enjeu d'une Murder</li>
                        <li>Le secret d'une murder party réussie</li>
                        <li>Les difficultés d'écriture et d'organisation</li>
                        <li>Comment organiser une murder party de A à Z</li>
                    </ul>
                </div>
                <form method="post">
                    <div class="input-group mb-2">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                        </div>
                        <input class="form-control" type="text" name="fullname" placeholder="Prénom Nom">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                            </svg>
                        </div>
                        <input class="form-control" type="text" name="email" placeholder="Adresse email">
                    </div>
                    <button class="btn btn-info w-100">Je reçois ma copie gratuite</button>
                </form>
            </div>
            <div class="col-12 col-lg-5">
                <img class="img-fluid px-4 ps-lg-0 ps-lg-5" src="/static/img/murder_party_amis_famille.png" alt="Le guide de la murder party en team building" type="image/png">
            </div>
        </div>
    </div>
</div>

{% endblock %}
