{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Murder Party Paris</h1>

        <ul class="list-group list-unstyled list-group-flush">
            <li class="list-group-item bg-transparent d-flex flex-row">
                <div>
                    <img class="img-fluid me-4 px-2" style="max-width: 150px" src="https://just-escape.fr/static/img/murder-party-375.webp" alt="Le guide de la murder party en team building" type="image/png">
                </div>
                <div>
                    <a href="/murder-party/redrock-saloon">
                        <h2 class="mb-1">Le Redrock Saloon</h2>
                        <p class="mb-1">Incarnez le shérif et mettez en prison les desperados.</p>
                        <div class="d-flex flex-row mb-2">
                            <div class="badge bg-info me-2">7 à 25 joueurs</div>
                            <div class="badge bg-primary me-2">2h</div>
                            <div class="badge bg-success me-2">35€</div>
                            <div class="badge bg-warning me-2">Western</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="badge bg-light text-dark me-2">Paris</div>
                            <div class="badge bg-light text-dark me-2">Lille</div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="list-group-item bg-transparent d-flex flex-row">
                <div>
                    <img class="img-fluid me-4 px-2" style="max-width: 150px" src="https://just-escape.fr/static/img/murder-dinner-375.webp" alt="Le guide de la murder party en team building" type="image/png">
                </div>
                <div>
                    <a href="/murder-party/sherlock-party">
                        <h2 class="mb-1">La Sherlock Party</h2>
                        <p class="mb-1">Relevez les défis du plus grand détective de Londres à l'ère Victorienne.</p>
                        <div class="d-flex flex-row mb-2">
                            <div class="badge bg-info me-2">30 à 200 joueurs</div>
                            <div class="badge bg-primary me-2">2h</div>
                            <div class="badge bg-success me-2">20€</div>
                            <div class="badge bg-warning me-2">Époque victorienne</div>
                            <div class="badge bg-dark me-2">Jouez dans vos locaux</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="badge bg-light text-dark me-2">Lille</div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
