{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Murder Party {{ city.name }}</h1>

        <ul class="list-group list-unstyled list-group-flush">
            {% for scenario in scenarios %}
                {% include "component/murder_party_list_item.html" with scenario=scenario %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
