{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Qui sommes-nous ?</h1>
        <p>Murder Party France est une plateforme proposée par la société <a href="https://just-escape.fr">Just Escape</a>.</p>
        <p>Just Escape est un centre d'escape game à Lille.</p>
        <p>Nous avons remarqué que nos clients (entreprises et particuliers) apprécient les Murder Party pour des raisons différentes des escape rooms. La raison principale est la capacité pour un grand groupe de jouer à une activité ensemble, sans être séparé.</p>
        <p>Suite au succès du format Murder Party, nous avons passé du temps à créer ce site web pour aider les responsables à organiser leur événement.</p>
    </div>
</div>

{% endblock %}
