{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Redrock Saloon</h1>
        <div class="d-flex flex-row mb-2">
            <div class="badge bg-info me-2">7 à 25 joueurs</div>
            <div class="badge bg-primary me-2">2h</div>
            <div class="badge bg-success me-2">35€</div>
            <div class="badge bg-warning me-2">Western</div>
        </div>
        <div class="d-flex flex-row">
            <div class="badge bg-light text-dark me-2">Paris</div>
            <div class="badge bg-light text-dark me-2">Lille</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid w-100 mb-3" src="https://just-escape.fr/static/img/murder-party.webp" alt="Des personnages sont dans une intrigue de murder party">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron light py-5">
    <div class="container">
        <h2>Vivez un Western comme à la télé</h2>
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </div>
</div>

{% endblock %}
