{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Teambuilding</h1>
    </div>
</div>

{% endblock %}
