{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}Liste Murder Party{% endblock %}
{% block description %}Liste Murder Party Description{% endblock %}

{% block og_title %}Liste Murder Party{% endblock %}
{% block og_description %}Liste Murder Party Og description{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

<div class="jumbotron dark py-5">
    <div class="container">
        <h1>Teambuilding</h1>

        <div class="row">
            <div class="col-12 col-lg-6">
                <img class="img-fluid w-100 w-lg-50 px-4" src="/static/img/murder_party_team_building.png" alt="Le guide de la murder party en team building" type="image/png">
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column text-center justify-content-center">
                <h2>Téléchargez ce guide indispensable maintenant</h2>
                <p>Détails de l'offre irrésistible</p>
                <p>Cette ressource est importante</p>
                <p>N'oubliez pas ça</p>
                <p>Envoyez un email contre ce livre blanc</p>
            </div>
        </div>

    </div>
</div>

<div class="jumbotron light py-5">
    <div class="container">
        <h2>Pourquoi organiser une murder party pour un Team Building ?</h2>
        <div class="row flex-column flex-lg-row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Raison 1</h3>
                    </div>
                    <div class="card-body">
                        {% lorem 1 %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Raison 2</h3>
                    </div>
                    <div class="card-body">
                        {% lorem 1 %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Raison 3</h3>
                    </div>
                    <div class="card-body">
                        {% lorem 1 %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
