:root {
    --mpfr-dark: #3c3c3e;
    --mpfr-deepdark: #2e2e2f;
    --mpfr-light: #f8f9fa;
}

body {
    min-height: 100%;
}

.deepdark {
    background-color: var(--mpfr-deepdark);
    color: var(--mpfr-light);
}

.dark {
    background-color: var(--mpfr-dark);
    color: var(--mpfr-light);
}

.light {
    background-color: var(--mpfr-light);
    color: var(--mpfr-dark);
}

.dark a {
    color: var(--mpfr-light);
    text-decoration: none;
}

.dark a:hover {
    color: var(--mpfr-light);
}

a.text-dark {
    color: var(--mpfr-dark)
}

a.text-dark:hover {
    color: var(--mpfr-dark)
}

.om-sliderrange {
	min-height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.om-sliderrange-range {
	height: 4px;
	position: relative;
	margin: 8px 4px;
}

.om-sliderrange-display {
	display: flex;
	justify-content: space-around;
	margin: 4px 10% 0;
	font-size: 14px;
}

.om-sliderrange-range:before {
	display: block;
	content: '';
	height: 10px;
	border-radius: 4px;
	background: #c2c0c2;
}

.om-sliderrange-range-indicator {
	height: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: Highlight;
}

.om-sliderrange-button-start,
.om-sliderrange-button-end {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 12px;
	background: #7a7a7a;
	left: 0;
	top: 50%;
	transform: translateY(-6px);
	pointer-events: visible;
}
